*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

html,
body {
    font-size: calc(100vw / 25);
    background-color: #FFFFFF;
}

/**
*根组件app
*/
.container {
    padding: 1rem;
    line-height: 1rem;
}

/**
*返回键
*/
button.cp-back {
    border: none;
    background: url(../img/back1.png) no-repeat;
    background-size: 100%;
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    outline: 0;
}

/**
*tab页
*/
ul.cp-tabbar {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

ul.cp-tabbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

li.cp-tabbar-item {
    background: #f6f6f6;
    color: #888888;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: inline-block;
}

li.cp-tabbar-item.active {
    background: #65c0c6;
    color: #FFFFFF;
}

li.cp-tabbar-item:not(:first-child) {
    margin-left: 1rem;
}

/**
*项目列表
*/
ul.cp-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

ul.cp-list {
    height: calc(100vh - 5.2rem);
    overflow: scroll;
    margin-top: 0.2rem;
    padding: 0.2rem;
}

li.cp-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

img.item-icon {
    width: 2.5em;
}

li.cp-list-item.arrow-right {
    background: url(../img/arrow-right.png) no-repeat;
    background-position: 98%;
    background-size: 0.8em;
    padding: 1em 0.5em;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
            box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
    border-radius: 0.5em;
    margin-top: 1em;
}

li.cp-list-item:active {
    background-color: #f6f6f6;
}

p.item-title {
    font-size: 1.2em;
    padding-left: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    white-space: nowrap;
    padding-right: 1em;
}

/**
*柱形图
*/
.cp-cylind {
    width: 100%;
    height: 14em;
    position: relative;
    border: 0.3em solid #f6f6f6;
    border-top: 0;
    border-right: 0;
    border-color: #f6f6f6;
}

.cp-cylind-bottom {
    position: absolute;
    line-height: 0;
    height: 0.3em;
    bottom: -0.2em;
    width: 100%;
    /* font-size: 0; */
}

.cp-cylind-bottom-thumb {
    width: 8%;
    background-color: #e5e5e5;
    height: 100%;
    display: inline-block;
    margin-left: 6%;
}

.cp-cylind-left {
    height: 100%;
    width: 0.3em;
    position: absolute;
    left: -0.3em;
}

.cp-cylind-left-thumb {
    width: 100%;
    height: 1.5em;
    margin-bottom: 1.5em;
    background: #e5e5e5;
    display: block;
}

span.cp-cylind-per-top {
    position: absolute;
    left: -1.2em;
    z-index: 1;
    top: -1em;
    color: #48A1A7;
    font-size: 0.8em;
    line-height: 1em;
}

span.cp-cylind-per-bottom {
    position: absolute;
    bottom: -2em;
    left: -0.8em;
    color: #48A1A7;
    font-size: 0.8em;
    line-height: 1em;
}

.cp-cylind-category-group {
    position: absolute;
    bottom: -2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 4%;
}

p.cp-cylind-item {
    background: #F6F6F6;
    padding: 0.4em;
    font-size: 1em;
    line-height: 1em;
    border-radius: 0.1em;
    color: #000;
}

.cp-cylind-chart-group {
    position: absolute;
    width: 100%;
    height: calc(100% - 0.2em);
    bottom: 0.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.cp-cylind-chart-item {
    position: relative;
    height: 0%;
    width: 8%;
    background: #65C0C6;
    margin-left: 6%;
    border-radius: 0.2em;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

span.cp-cylind-chart-item-percent {
    color: #AAAAAA;
    position: absolute;
    top: -1em;
    left: -0.1em;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

span.cp-cylind-chart-item-percent.not-full {
    color: #333;
}




