.index_header {
    height: 0.44rem;
    font-size: 0.18rem;
    color: white;
    text-align: center;
    line-height: 0.44rem;
    background: #0F1322;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
}


/* 图表 */
.sheet {
    width: 3.6rem;
    height: 3.31rem;
}

.nav {
    width: 3.45rem;
    height: 1.13rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.04rem;
    margin: 0 auto;
}

.nav_top {
    height: 0.42em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F6F6F6;
}

.nav_top p {
    font-size: 0.16rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 0.22rem;
    margin-left: 0.1rem;
}

.nav_top_more {
    font-size: 0.12rem;
    margin-right: 0.11rem;
    display: flex;
    align-items: center;
}

.nav_top_more span {
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(101, 192, 198, 1);
    line-height: 0.17rem;
    margin-right: 0.04rem;
}

.nav_top_more img {
    width: 0.14rem;
    height: 0.14rem;
}


.nav_bot ul {
    padding: 0.1rem 0 0 0.1rem;
}

.nav_bot ul li {
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(136, 136, 136, 1);
    line-height: 0.2rem;
    margin-bottom: 0.1rem;
    display: flex;
    align-items: center;
}

.nav_bot ul li span:nth-child(1) {
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    background: rgba(255, 167, 85, 1);
    border-radius: 0.02rem;
    margin-right: 0.1rem;
}

/* content */
.content {
    margin: 0.19rem 0 0 0.15rem;
}

.content_logo {
    font-size: 0.1rem;
    position: relative;
    height: 0.4rem;
}

.content_logo img {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.06rem;
}

.content_logo span {
    font-size: 0.1rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 0.14rem;
    position: absolute;
    top: 0.19rem;
    left: 0.5rem;
}

.content p:nth-child(2) {
    font-size: 0.16rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 0.25rem;
    margin-top: 0.1rem;
}

.content p:nth-child(3) {
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #888888;
    line-height: 0.17rem;
}

.content_pre {
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 0.27rem;
    width: 3.45rem;
    height: 0.1rem;
    /* position: relative; */
    /* display: flex; */

}

.content_bar {
    width: 0%;
    height: 0.1rem;
    border-radius: 0.1rem;
    background: #86d4d9;
    border-radius: 0.27rem;
    float: left;
}

.content_bot {
    display: flex;
    margin: 0.59rem 0.15rem 0.31rem 0.15rem;
}

.content_bot span {
    font-size: 0.12rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: white;
    margin: 0 0 0 0.1rem;
    float: left;
    background: #ffa755;
    border-radius: 0.04rem;
    text-align: center;
    line-height: 0.2rem;
    padding: 0.02rem 0.06rem 0.01rem 0.06rem;
}

.content_btn {
    position: fixed;
    right: 0.2rem;
    bottom: 0.2rem;
}

.content_btn p:nth-child(1) {
    width: 0.44rem;
    height: 0.44rem;
    background: url(../img/下拉.png)no-repeat;
    background-size: 100% 100%;
}

.content_btn p:nth-child(2) {
    width: 0.44rem;
    height: 0.44rem;
    background: url(../img/个人信息.png)no-repeat;
    background-size: 100% 100%;
    margin-top: 0.1rem;
}

.content_title {
    width: 0.44rem;
    height: 0.44rem;
    background: url(../img/文件.png)no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: 0.2rem;
    top: 0.89rem;
}


div#project-progress {
    font-size: calc(100vw / 25);
    padding: 1em;
}

.sheet h4 {
    font-size: 0.16rem;
    font-family: PingFangSC-Medium;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 0.22rem;
    margin: 0 0 0.2rem 0.15rem;
}

.uu .lis .liSpan i {
    color: red;
}

.liSpan {
    width: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.index_one {
    font-size: 0.16rem;
    color: gray;
    text-align: center;
    margin-top: 0.22rem;
    display: none;
}


.infor {
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #ffffff;
    text-align: left;
    background: #ffa755;
    border-radius: 0.04rem;
    padding: 0.02rem 0.06rem;
    margin-right: 0.07rem;
}