.project_header {
    height: 0.44rem;
    font-size: 0.18rem;
    color: white;
    text-align: center;
    line-height: 0.44rem;
    background: #0F1322;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.project_header span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0.1rem;
}


.project_scoll {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.15rem;
    padding-top: 0.44rem;
}

.project_scoll,
.project_banner ul {
    width: 100%;
    height: 0.45rem;
}

.project_banner {
    font-size: 0.16rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: white;
    padding: 0 0.15rem;
    overflow: auto;
    margin-top: 0.1rem;
}

.project_banner ul {
    width: 163%;
    display: flex;
}

.blue {
    background: #48A1A7 !important;
    color: white !important;
}

.project_banner ul li {
    width: 0.6rem;
    height: 0.3rem;
    background: #F6F6F6;
    border-radius: 0.06rem;
    text-align: center;
    line-height: 0.3rem;
    margin-right: 0.2rem;
    color: #888888;
}

.project_main {
    padding: 0 0.15rem;
    font-size: 0.14rem;
}

.project_per {
    display: inline-block;
    width: 3.45rem;
    height: 0.1rem;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.05rem;
    position: relative;
    display: flex;
    align-items: center;
}

.project_per .bar {
    width: 0.69rem;
    height: 0.1rem;
    background: rgba(101, 192, 198, 1);
    border-radius: 0.05rem;
    font-size: 0;
}

.project_per span {
    display: inline-block;
    width: 0.47rem;
    height: 0.2rem;
    background: rgba(255, 167, 85, 1);
    border-radius: 0.04rem;
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 0.2rem;
    margin-left: 0.05rem;
    /* position: absolute; */
    /* left: 2%; */
    /* top: -0.06rem; */
}



/* work */
.work_one {
    margin-top: 0.25rem;
    display: flex;
}

.work_one_left {
    width: 0.12rem;
    height: 0.12rem;
    background: #65C0C6;
    border-radius: 0.02rem;
    border: 1px solid #65C0C6;
    margin: 0.05rem 0.1rem 0 0;
}

.work_one_right p:nth-child(1) {
    font-size: 0.16rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    line-height: 0.22rem;
    margin-bottom: 0.04rem;
}

.work_one_right span {
    padding: 0.02rem 0.08rem;
    background: #F0F0F0;
    border-radius: 0.04rem;
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #FF9431;
    line-height: 0.17rem;
}



.back span:nth-child(1) {
    display: inline-block;
    width: 0.44rem;
    height: 0.44rem;
    background: url(../img/back1.png)no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0.2rem;
    left: 0.2rem;
}


.back span:nth-child(2) {
    display: inline-block;
    width: 0.44rem;
    height: 0.44rem;
    background: url(../img/文件.png)no-repeat;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0.2rem;
    right: 0.2rem;
}





/* 文件 */
.project_file {
    padding: 0 0.15rem;
}

.uu li {
    width: 3.45rem;
    height: 0.5rem;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.04rem;
    font-size: 0.16rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #000000;
    line-height: 0.22rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;
}

.uu li img {
    width: 0.3rem;
    height: 0.3rem;
    margin-left: 0.1rem;
}

.uu li span:nth-child(2) {
    width: 1.6rem;
    margin: 0 1rem 0 0.1rem;
}

.uu li span:nth-child(3) {
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    background: url(../img/右1.png)no-repeat;
    background-size: 100% 100%;
}

.work_one:nth-child(2) .work_one_right span {
    color: #65C0C6;
}

.work_one:nth-child(3) .work_one_right span {
    color: #888888;
}

.work_one:nth-child(4) .work_one_right span {
    color: red;
}

.work_one:nth-child(5) .work_one_right p i {
    color: red;
    font-weight: 600;
    margin-right: 0.05rem;
}




ul.cp-tabbar {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0.16rem;
    height: 0.4rem;
    padding: 0.54rem 0.1rem 0.1rem;
}

ul.cp-tabbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

li.cp-tabbar-item {
    background: #f6f6f6;
    color: #888888;
    padding: 0.04rem 0.15rem;
    border-radius: 0.06rem;
    font-size: 0.16rem;
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    line-height: 0.22rem;
}

li.cp-tabbar-item.active {
    background: #65c0c6;
    color: #FFFFFF;
}

li.cp-tabbar-item:not(:first-child) {
    margin-left: 0.2rem;
}