.require_banner {
    width: 100%;
    background: linear-gradient(360deg,
        rgba(39, 45, 70, 1) 0%,
        rgba(17, 21, 37, 1) 100%);
}

.require_header {
    width: 100%;
    height: 0.44rem;
    font-size: 0.18rem;
    color: white;
    text-align: center;
    line-height: 0.44rem;
    position: fixed;
    top: 0;
    z-index: 111;
    background: #0F1322;
}



/* foot */
.require_foot {
    width: 100%;
    height: 0.22rem;
    background: rgba(39, 45, 70, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    padding: 0.13rem 0;
    display: flex;
    align-items: center;
}

.require_foot_one {
    width: 0.3rem;
    height: 0.34rem;
    background: url(../img/back.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 0.15rem 0 0.16rem;
}

.require_foot_two {
    border-left: 1px solid #424B6A;
    height: 0.22rem;
    width: 62%;
    font-size: 0;
}

.require_foot_two input {
    width: 90%;
    height: 100%;
    padding-left: 0.2rem;
    outline: none;
    border: 0;
    background: transparent;
    color: white;
}

.require_foot_three {
    width: 0.7rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    border-radius: 0.04rem;
    float: right;
    background: #65C0C6;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}


/* main */
.require_main {
    width: 100%;
    padding-top: 0.59rem;
}

.require_main_banner {
    height: 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.15rem;
    margin: 0.25rem 0 0.21rem 0;
}

.require_main_title p:nth-child(1) {
    font-size: 0.18rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 0.25rem;
}

.require_main_title p:nth-child(2) {
    width: 1.7rem;
    height: 0.2rem;
    background: rgba(49, 57, 84, 1);
    border-radius: 0.04rem;
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 148, 49, 1);
    text-align: center;
    line-height: 0.2rem;
}

.require_main_banner span {
    display: inline-block;
    width: 0.24rem;
    height: 0.22rem;
    background: url(../img/file.png)no-repeat;
    background-size: 100% 100%;
}

.require_chat {
    width: 3.35rem;
    height: 5.1rem;
    margin: 0 auto;
    background: white;
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.2rem 0.1rem 0;
}

.chat_one {
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(15, 19, 34, 1);
    line-height: 0.2rem;
    display: flex;
    margin-bottom: 0.2rem;
}

.chat_one span:nth-child(1) {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.12rem;
    margin-right: 0.1rem;
}

.chat_one span:nth-child(2) {
    display: inline-block;
    width: 1.29rem;
    height: 0.4rem;
    background: #F0F0F0;
    border-radius: 0px 0.16rem 0.16rem 0.16rem;
    text-align: center;
    line-height: 0.4rem;
}


.chat_two {
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(15, 19, 34, 1);
    line-height: 0.2rem;
    display: flex;
    justify-content: flex-end;
}

.chat_two span:nth-child(2) {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.12rem;
    margin-left: 0.1rem;
}

.chat_two span:nth-child(1) {
    display: inline-block;
    width: 1.29rem;
    height: 0.4rem;
    background: #87B5ED;
    border-radius: 0px 0.2rem 0.2rem 0.2rem;
    text-align: center;
    line-height: 0.4rem;
}


.require_process {
    width: 3.45rem;
    height: 0.1rem;
    background: rgba(49, 57, 84, 1);
    border-radius: 0.05rem;
    margin: 0 auto;
}

.require_process .bar {
    width: 2.4rem;
    height: 0.1rem;
    background: rgba(101, 192, 198, 1);
    border-radius: 0.05rem;
    font-size: 0;
    position: relative;
}

.require_process .bar span {
    display: inline-block;
    width: 0.47rem;
    height: 0.2rem;
    background: rgba(255, 167, 85, 1);
    border-radius: 0.04rem;
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 0.2rem;
    position: absolute;
    right: -0.51rem;
    top: -0.05rem;
}