.require_header {
    width: 100%;
    height: 0.44rem;
    font-size: 0.18rem;
    color: white;
    text-align: center;
    line-height: 0.44rem;
    position: fixed;
    top: 0;
    z-index: 111;
    background: #0F1322;
}



/* foot */
.require_foot {
    width: 100%;
    height: 0.22rem;
    background: rgba(39, 45, 70, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    padding: 0.13rem 0;
    display: flex;
    align-items: center;
    z-index: 11;
}

.require_foot_one {
    width: 0.3rem;
    height: 0.34rem;
    background: url(../img/back.png)no-repeat;
    background-size: 100% 100%;
    margin: 0 0.15rem 0 0.16rem;
}

.require_foot_two {
    border-left: 1px solid #424B6A;
    font-size: 0;
    padding: 0 0.1rem;
}

.require_foot_two input {
    width: 90%;
    height: 100%;
    padding-left: 0.2rem;
    outline: none;
    border: 0;
    background: transparent;
    color: white;
}

.require_foot_three {
    width: 0.7rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    border-radius: 0.04rem;
    float: right;
    background: #65C0C6;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    display: none;
}

.foot_require {
    width: 0.7rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    border-radius: 0.04rem;
    float: right;
    background: #65C0C6;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}


/* main */
.require_main {
    width: 100%;
    padding-top: 0.44rem;
    background: linear-gradient(360deg,
        rgba(39, 45, 70, 1) 0%,
        rgba(17, 21, 37, 1) 100%);
}

.require_main_banner {
    height: 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.15rem;
    margin: 0 0 0.2rem 0;
}

.require_main_title {
    font-size: 0.12rem;
}

.require_main_title i:nth-child(1) {
    font-size: 0.18rem;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 0.25rem;
    /*width: 2rem;*/
    /*  overflow: hidden;;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    display: inline-block;
    ;
}

.require_main_title p:nth-child(2) {
    width: 1.1rem;
    background: rgba(49, 57, 84, 1);
    border-radius: 0.04rem;
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 148, 49, 1);
    text-align: center;
    line-height: 0.2rem;
    padding: 0.02rem 0.06rem 0.01rem 0.07rem;
}

.require_main_banner span {
    display: inline-block;
    width: 0.24rem;
    height: 0.22rem;
    background: url(../img/file.png)no-repeat;
    background-size: 100% 100%;
}

.require_chat {
    width: 3.35rem;
    height: 4.19rem;
    margin: 0 auto;
    background: white;
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.2rem 0.1rem 0.8rem;
    overflow: scroll;
}

.chat_one {
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(15, 19, 34, 1);
    line-height: 0.2rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.2rem;
}

.chat_one .one_box {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.12rem;
    margin-right: 0.1rem;
}

.chat_one .one_box img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.12rem;
}

.chat_one .box1 {
    padding: 0.1rem 0.21rem;
    background: #F0F0F0;
    border-radius: 0px 0.16rem 0.16rem 0.16rem;
    display: inline-block;
    text-align: left;
     max-width: 1.8rem;
    word-wrap: break-word;
}

.chat_box .box {
    width: 0.6rem;
    height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.01rem 0.05rem;
    background: rgba(101, 192, 198, 1);
    border-radius: 0.1rem 0.1rem 0.1rem 0px;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 0.2rem;
    margin-bottom: 0.08rem;
    text-align: center;
}

.chat_two .chat_box {
    position: absolute;
    right: 0.55rem;
}

.chat_two .chat_box .dv_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat_two .chat_box .box {
    width: 0.6rem;
    height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.01rem 0.05rem;
    background: rgba(101, 192, 198, 1);
    border-radius: 0.1rem 0.1rem 0 0.1rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 0.2rem;
    margin-bottom: :0.08rem;
    text-align: center;
}

.chat_two {
    height: 0.7rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(15, 19, 34, 1);
    line-height: 0.2rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.2rem;
    position: relative;
}

.chat_two .one_box {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.12rem;
    margin-right: 0.1rem;
    position: absolute;
    right: -0.09rem;
}

.chat_two .one_box img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.12rem;
}



.chat_two .box1 {
    padding: 0.1rem 0.21rem;
    background: #F0F0F0;
    border-radius: 0.16rem 0px 0.16rem 0.16rem;
    text-align: left;
    display: inline-block;
    max-width: 1.8rem;
    word-wrap: break-word;
    word-break: break-all;
    /*position: absolute;*/
    /*right: 0;*/
}


.require_process {
    width: 3.45rem;
    height: 0.1rem;
    background: rgba(49, 57, 84, 1);
    border-radius: 0.05rem;
    margin: 0 auto;
}

.require_process .bar {
    width: 2.4rem;
    height: 0.1rem;
    background: rgba(101, 192, 198, 1);
    border-radius: 0.05rem;
    font-size: 0;
    position: relative;
}

.require_process .bar span {
    display: inline-block;
    width: 0.47rem;
    height: 0.2rem;
    background: rgba(255, 167, 85, 1);
    border-radius: 0.04rem;
    font-size: 0.12rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 0.2rem;
    position: absolute;
    right: -0.51rem;
    top: -0.05rem;
}




