.header {
    background: #1e2439;
    width: 100vw;
    height: 100vh;  
}
.index_banner {
    position: absolute;
    top: 30%;
    left: 8%;
}
.index_logo {
    height: 0.8rem; 
    font-size: 0.14rem;
}

.index_logo img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.24rem;
}

.index_logo span {
    font-size: 0.14rem;
    color: white;
}

.index_title {
    font-size: 0.24rem;
    color: #fff;
    line-height: 0.33rem;
}

.index_title p:nth-child(2) {
    font-size: 0.14rem;
    line-height: 0.2rem;
}