<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户查询系统</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/indexList.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="index_header">
            <span>首页</span>
        </div>

        <div class="index_main" id="main">
            <div class="index_main_one" v-for="item in list" @click="goStudy(item.id)">
                <div class="index_main_left">
                </div>
                <span class="divde"></span>
                <div class="index_main_mid">
                    <span class="one">{{item.name}}</span>
                    <p>{{item.title}}</p>

                    <cy-bar :bar="item.rate +'%'"></cy-bar>
                </div>

                <div class="index_main_right">
                    {{item.end_time | filterTime}}
                </div>
            </div>
        </div>


        <div class="index_btn">
            <!-- <p @click="indexDetail()"></p> -->
            <p @click="goUser"></p>
        </div>

        <div class="index_banner" v-if="show">
            暂无项目
        </div>
    </div>



</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/development/vue.js"></script>
<script src="js/api.js"></script>
<script src="js/components.js"></script>
<script src="js/indexList.js"></script>