<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户查询系统</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="login_header">
            <span>登录</span>
        </div>
        <div class="login_main">
            <div class="login_banner">
                <img src="img/logo1.png" alt="">
            </div>
            <ul class="login_uu">
                <li class="login_lis">
                    <label for=""><img src="img/手机.png" alt=""></label>
                    <input type="text" class="mobile" v-model="phone" @foucs="onfocus" @blur="onblur">
                </li>
                <li class="login_lis">
                    <label for=""><img src="img/钥匙.png" alt=""></label>
                    <input type="text" class="key" v-model="psw" @blur="onblur">
                    <span id="numbtn" @click="gain">{{msg}}</span>
                </li>
            </ul>
            <button class="login_btn" @click="enter"></button>
        </div>
    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="js/development/vue.js"></script>
<script src="js/api.js"></script>
<script src="js/login.js"></script>

<script>
        $(function () {
            wx.ready(function () {
                //微信分享菜单测试
                wx.onMenuShareAppMessage({//分享给朋友
                    title: "感恩十五载，我正在参与江苏太平15周年祝福征集活动", // 分享标题
                    desc: "感恩15周年，快来帮我点亮，并领取属于您的精美大礼！", // 分享描述
                    link: "http://www.baidu.com", // 分享链接
                    imgUrl: "http://taiping.pzhkj.cn/img/sharelogo.jpg", // 分享图标
                    success: function () {
                        alert("分享成功");
                        $.ajax({
                            type: "post",
                            url: "http://szjm.pzhkj.cn/index/Wechat/WechatShare",
                            async: true,
                            data: {
                                url: "http://szjm.pzhkj.cn/idash.top/index.html"
                            },
                            success: function (res) {
                                console.log(res)
                            }
                        });
                    },
                    cancel: function () {
    
                    }
                });
                wx.onMenuShareTimeline({//分享给朋友圈
                    title: "感恩十五载，我正在参与江苏太平15周年祝福征集活动", // 分享标题
                    link: "http://www.baidu.com", // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: "http://taiping.pzhkj.cn/img/sharelogo.jpg", // 分享图标
                    success: function () {
                        alert("分享成功");
                        $.ajax({
                            type: "post",
                            url: "http://szjm.pzhkj.cn/index/Wechat/WechatShare",
                            async: true,
                            data: {
                                url: "http://szjm.pzhkj.cn/idash.top/index.html"
                            },
                            success: function (res) {
    
                            }
                        });
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
            wx.error(function (err) {
                alert(JSON.stringify(err));
            });
        })
    
    </script>