<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户查询系统</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/projectDetail.css">
</head>

<body>
    <div id="app">
        <div class="project_header">
            <span>叠石桥项目</span>
        </div>


        <div class="project_scoll">
            <div class="project_banner">
                <ul>
                    <li class="blue" @click="lisTbar(1)">需求</li>
                    <li @click="lisTbar(2)">原型</li>
                    <li @click="lisTbar(3)">设计</li>
                    <li @click="lisTbar(4)">前端</li>
                    <li @click="lisTbar(5)">后台</li>
                    <li @click="lisTbar(6)">调试</li>
                    <li @click="lisTbar(7)">验收</li>
                </ul>
            </div>
        </div>
        <div class="project_main" v-show="isshow">
            <div class="project_per">
                <div class="bar"></div>
                <span>20%</span>
            </div>
            <div class="project_work">
                <div class="work_one" v-for="item in feedList" @click="goRequire">
                    <div class="work_one_left">
                    </div>
                    <div class="work_one_right">
                        <p>{{item.log_content}}</p>
                        <span>待处理 {{item.create_at | filterTime}}-{{item.end_time | filterTime}} </span>
                    </div>
                </div>

                <div class="work_one" v-for="item in List" @click="goRequire">
                        <div class="work_one_left">
                        </div>
                        <div class="work_one_right">
                            <p>{{item.log_content}}</p>
                            <span>待反馈 {{item.create_at | filterTime}}-{{item.end_time | filterTime}} </span>
                        </div>
                    </div>

                <div class="work_one" v-for="item in startList" @click="goRequire">
                    <div class="work_one_left">
                    </div>
                    <div class="work_one_right">
                        <p>{{item.log_content}}</p>
                        <span>已结束 {{item.create_at | filterTime}}-{{item.end_time | filterTime}} </span>
                    </div>
                </div>

                <div class="work_one" v-for="item in delayList" @click="goRequire">
                    <div class="work_one_left">
                    </div>
                    <div class="work_one_right">
                        <p>已延误:{{item.log_content}}</p>
                        <span>待处理 {{item.create_at | filterTime}}-{{item.end_time | filterTime}} </span>
                    </div>
                </div>


                <div class="work_one" v-for="item in firstList" @click="goRequire">
                    <div class="work_one_left">
                    </div>
                    <div class="work_one_right">
                        <p><i>[加急]</i>{{item.log_content}}</p>
                        <span>待处理 {{item.create_at | filterTime}}-{{item.end_time | filterTime}} </span>
                    </div>
                </div>


            </div>
        </div>
        <div class="back">
            <span @click="goback"></span>
            <span @click="goProject"></span>
        </div>



        <!-- 文件 -->
        <div class="project_file" v-show="!isshow">
            <ul class="uu">
                <li v-for="item in title" @click="upChange">
                    <img src="img/file.png" alt="">
                    <span>{{item.log_name}}</span>
                    <span></span>
                </li>
            </ul>
        </div>

    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/api.js"></script>
<script src="js/projectDetail.js"></script>