<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/requirement.css">
</head>

<body>

    <div id="app">
            <div class="require_header">
                    <span>{{log_name}}</span>
                    <!-- <span>×</span> -->
                </div>
        <div class="require_banner">
         
            <div class="require_main">
                <div class="require_process">
                    <div class="bar">
                        <span>80%</span>
                    </div>
                </div>
                <div class="require_main_banner">
                    <div class="require_main_title">
                        <p>{{log_content}}</p>
                        <p>待处理 {{create_at | filterTime}}</p>
                    </div>
                    <span @click="backChange"></span>
                </div>
                <div class="require_chat">
                    <div class="chat_one" v-for="item in Garr">
                        <span>
                            <img src="" alt="">
                        </span>
                        <span>{{item.content}}</span>
                    </div>
                    <div class="chat_two" v-for="item in arr">
                        <span>{{item.content}}</span>
                        <span>
                            <img src="" alt="">
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="require_foot">
            <div class="require_foot_one" @click="goback">
            </div>
            <div class="require_foot_two">
                <input type="text" v-model="text" placeholder="发信息">
            </div>
            <div class="require_foot_three" @click="upChange">
                <span>上传文件</span>
                <!-- <span>发送</span> -->
            </div>
        </div>
    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/api.js"></script>
<script src="js/requirement.js"></script>