<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>客户查询系统</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/requirement.css">
</head>

<body>

    <div id="app" v-cloak>
        <div class="require_header">
            <span>{{log_name}}</span>
        </div>
        <div class="require_main">
            <div class="require_main_banner">
                <div class="require_main_title">
                    <i>{{log_content}}</i>
                    <p>待处理 {{create_at | filterTime}}</p>
                </div>
                <span @click="backChange"></span>
            </div>
            <div class="require_chat">
                <div :class="item.user_type == 2?'chat_one':'chat_two'" v-for="item in Garr">
                    <span>
                        <img src="img/床.jpg" alt="">
                    </span>
                    <span>{{item.content}}</span>
                </div>
            </div>
        </div>

        <div class="require_foot">
            <div class="require_foot_one" @click="goback">
            </div>
            <div class="require_foot_two" @click="focus">
                <input type="text" v-model="text" placeholder="发信息" id="myInput">
            </div>
            <div class="require_foot_three" v-if="" @click="send">
                发送
            </div>
            <div class="foot_require" id="two" v-if="" @click="upChange($event)">
                上传文件
                <input id="file" ref="image" @change="add_img" hidden type="file" accept="image/*" class="invisible">
            </div>
        </div>
    </div>
</body>

</html>

<script src="js/jquery.min.js"></script>
<script src="js/development/vue.js"></script>
<script src="js/api.js"></script>

<script src="js/traceur.js"></script>
<script type="text/babel" src="js/requirement.js"></script>

<!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->